{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ordens.css' %}">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="title_nav">
            <h1>ORDENS DE SERVIÇO</h1>
        </div>
    </nav>
    <div id="container">
        <table id="tabela">
            <tr>
                <th>id</th>
                <th>Solicitante</th>
                <th>Descrição</th>
                <th>Responsável</th>
            </tr>
            {% for ordem in ordens %}
            <tr>
                <td>{{ordem.id_ordem}}</td>
                <td>{{ordem.nome}}</td>
                <td>{{ordem.descricao}}</td>
                <td>{{ordem.responsavel}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>