* {
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    background-color: #025c66;
    padding: 10px 0 10px 0;
}

nav h1{
    color: white;
}

#inputs_container {
    padding-top: 100px;
    text-align: center;
    background-color: #B1F7FF;
    height: 73.5vh;
}

#inputs_container h3{
    margin-top: 30px;
}

#inputs_container input{
    margin-top: 5px;
    width: 20rem;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid;
}

#inputs_container button{
    margin-top: 15px;
    cursor: pointer;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    background-color: white;
}

#inputs_container button:hover{
    background-color: #025c66;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #025c66;
    height: 27px;
}

footer h2 {
    color: white;
    font-size: 15px;
}